.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 3%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 700px;
}

.mat-header-cell {
  font-size: 28px;
  font-weight: bold;
}

.mat-column-description {
  font-size: 20px;
}
.mat-column-title {
  font-size: 20px;
}
