.card-container {
  width: 50%;
  margin: 10px;
  background-color: #ffee76;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 22px;
}

.example-full-width {
  width: 100%;
}

.container {
  display: flex;
  margin: 8%;
}
.btn {
  float: right;
}

.save-btn {
  text-align-last: center;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

.note-text {
  color: brown;
  overflow-wrap: break-word;
}
