<div class="container">
  <mat-card class="card-container">
    <h1>Create New Note Here</h1>
    <form class="example-form" [formGroup]="notesForm" (ngSubmit)="saveNote()">
      <mat-form-field class="example-full-width">
        <mat-label>Title of the note</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Enter note title"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Enter note description"
        ></textarea>
      </mat-form-field>
      <button
        class="btn"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!notesForm.valid"
      >
        Save Note
      </button>
    </form>
  </mat-card>

  <mat-card class="card-container">
    <h1>Preview here</h1>
    <span>
      <h2>Title:</h2>
      <h2 class="note-text">{{ notesForm.controls["title"].value }}</h2>
    </span>
    <h2>Description:</h2>
    <h2 class="note-text">{{ notesForm.controls["description"].value }}</h2>
  </mat-card>
</div>
<div class="save-btn">
  <button mat-raised-button color="primary" (click)="routeToShowNotes()">
    See All Save Notes
  </button>
</div>
